# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
env/
.venv/

# Node / frontend artifacts
node_modules/
dist/
build/

# Environment variables
.env
.env.local

# Logs
*.log

# macOS
.DS_Store

# VSCode
.vscode/
